@charset "UTF-8";
/* CSS Document */

 .legend{
	padding-top: 0px;
	margin-top: 0px;
	margin-bottom:36px;
	color:#29D4E2;
	font-size: 20px;
}

fieldset{
	text-align:left;
	font-size: 1.1em;
	font-weight:200;
	color:#29D4E2;
	position:center;
	height:610px;
	width:200px;
	border:none;
	border-radius:25px;
	background-color:#666;
	margin:7px;
	padding-left: 90px;
	padding-right: 90px;
	padding-top: 40px;
	padding-bottom: 4px;
	font-family:Arial, Helvetica, sans-serif;
}

textarea, input {
	width:240px;
	height: 18px;
	padding:10px;
	margin-top: 1px;
	margin-bottom: 12px;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
}

.button{
width: 180px;
height:52px;
border-radius: 10px;
border:none;
background-color:#29D4E2;
position:static;
font-weight:800;
alignment-adjust: central;
vertical-align: central;
margin-top: 46px;
color:#000000;
font:bold;
font-size:20px;
}
.moreinfo {
	font-size: 0.8em;
	padding: 0px;
	margin-top: 2.5em;
}

h1{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 3em;	
	padding: 60px 0px 0px 0px;
	margin:0;
	}

h3{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 1em;
	padding: 0px;
	margin:0;
}


font {
	font-family:"Arial Black", Gadget, sans-serif;
}
