@charset "UTF-8";
/* CSS Document */

textarea {
	width:140px;
	height: 30px;
	padding:7px;
	margin-bottom: 10px;
	margin-top: 10px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}

 input {	
    vertical-align:central;
	height: 20px;
 	font-size:12px;
	padding: 2px;
    margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 10px;
	float:left;
}

h1{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 2.5em;
	padding:0.20em;
}

h4{
	margin-top: 30px;
	font-family:Arial, Helvetica, sans-serif;
	color: #3CF; 
	margin-left: 50px;
	position relative;
	
}

.empty {
	display: inline-block;
	background-color: white;
	width: 80px; 
	height: 38px;
	border: none;
	margin: 0px;
}

.basefill {
	display: inline-block;
	width: 80px; 
	height: 30px;
	background-color: red;
	margin-top: 1px;
	margin-bottom: 1px;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 14px;
	color: black;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	align-items: center;
	border-radius: 6px;
	border: none;
	padding-top: 8px;
	border:none;
	display: inline-block;
}

.basefill15 {
	width: 40px; 
	height: 30px;
	background-color: red;
	margin-top: 0px;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 14px;
	text-align: center;
	vertical-align: center;
	cursor: pointer;
	align-items: center;
	border-radius: 6px;
	padding-top: 8px;
	border:none;
}


table { 
text-align: center;
}

.main-table {
	 border: 2px solid black;
	 border-collapse: collapse;
}

.inner-table {
	bgcolor="#CCCCCC";
	font-size:10px;
	color:#D5D5D5;
	border-width: 0px;
	text-align: center;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 1px;
	vertical-align:	top;
	padding: 0px;
}

th {
	font-family:"Arial Black", Gadget, sans-serif;
	font-size: 1.5em;
	height: 40px;
	color:#29D4E2;	
	background-color:#666;
}

.hours {
		font-size: 1em;
}


tr { 
	text-align: center;
}

td {
	 height: 30px; 
	 vertical-align: top;
}


/*  Tutaj zaczynają się style do klocków czasowych*/

td:hover {
	background-color:#9FF;
}

.unit_01 {
	color:#F00;
}

.unit_02 {
	color:#F00;
}

.unit_03 {
	color:#F00;
}


/*  Tutaj kończą się style do klocków czasowych*/